<footer class="footer">
    <div class="logo">
      <a href="https://github.com/RDPodcasting" rel="noopener noreferrer" target="_blank">
          <img src="~/images/github-green.svg" alt="Github Logo" class="logo--github" />
      </a>
    </div>
    <p class="footer__copyright dark-white">
      Feito com <span>❤</span> por
      <a href="https://www.remediosdemaispodcast.com.br/" target="_blank" rel="noopener noreferrer">
        RDPodcasting
      </a>
      <a
        href="https://twitter.com/thiago_roock"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
      >
        Twitter
      </a>
    </p>
  </footer>